.main{
    -fx-color:blue;
}
.text{
	-fx-text-fill:white;
}
.text:hover{
	-fx-prompt-text-fill:white;
	-fx-text-fill:white;
}
main-text{
	-fx-text-fill:#28963c;
}
main-text:hover{
	-fx-prompt-text-fill:#28963c;
	-fx-text-fill:#28963c;
}